<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <%= form_for @group do |form| %>
            <div class="row">
              <div class="col-md-12">
                <%= form.text_field :name, class: 'form-control', placeholder: 'Enter Name' %>
              </div>
            </div></br>
            <div class="row">
              <div class="col-md-12">
                <%= form.select :user_ids, options_for_select(@users_array, selected: params[:user_id]),{ include_blank: false}, id:"choices-multiple-remove-button", class: "form-control", multiple: true, placeholder: "select user" %>
              </div>
            </div></br>

            <div class="row">
              <div class="col-2">
                <%= form.submit "Save", class: 'btn btn-success' %>
              </div>
              <div class="col-2">
                <%= link_to "Back", groups_path , class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>