<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="col-md-12 text-end">
            <%= link_to new_user_path(),class: "btn btn-primary"  do%> 
              <i class='bi bi-plus-circle-fill' aria-hidden='true'></i> 
            <% end %>
          </div> 
          <h1>Employee List</h1>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Employee-Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td class="col-7">
                    <%= link_to user.name, user_profile_user_path(user.id)%>
                  </td>
                  <td class="col-1">
                    <%= link_to edit_user_path(user.id), class: "btn btn-success", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                      <i class='bi bi-pencil-fill' aria-hidden='true'></i>
                    <% end %>
                  </td>
                  <td class="col-1">
                    <%= link_to passwords_path(user.id), class: "btn btn-warning", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                      <i class='bi bi-eye-fill' aria-hidden='true'></i>
                    <% end %>
                  </td>
                  <td class="col-1">
                    <%= button_to "<i class=\"bi bi-trash3-fill\"></i>".html_safe, user, class: "btn btn-danger", method: :delete,
                    data: { confirm: 'Are you sure?' } %>
                  </td>
                  <td class="col-1">
                    <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Project" data-bs-content="
                    <% user.projects.each do |a| %>
                      <%= a.name + "," %>
                    <% end %>">Project</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="pagination justify-content-center">
            <%= paginate @users, theme: 'bootstrap-5', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>