<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h1>Profile</h1>
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9"><%= @user.name %></dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9"><%= @user.email %></dd>

            <% if @user.birth_date %>
              <dt class="col-sm-3">Birth Date</dt>
              <dd class="col-sm-9"><%= @user.birth_date %></dd>
            <% end %>
          
            <% if @user.joining_date %>
              <dt class="col-sm-3">Joining Date</dt>
              <dd class="col-sm-9"><%= @user.joining_date %></dd>
            <% end %>

            <% if !@user.gender.nil? %>
              <dt class="col-sm-3">Gender</dt>
              <dd class="col-sm-9"><%= @user.gender ? 'Male' : 'Female' %></dd>
            <% end %>

            <% if @user.qualification.present? %>
              <dt class="col-sm-3">Qualification</dt>
              <dd class="col-sm-9"><%= @user.qualification %></dd>
            <% end %>
            
            <% if @user.mobile_number.present? %>
              <dt class="col-sm-3">Mobile Number</dt>
              <dd class="col-sm-9"><%= @user.mobile_number %></dd>
            <% end %>

            <% if @user.parent_name %>
              <dt class="col-sm-3">Parent Name</dt>
              <dd class="col-sm-9"><%= @user.parent_name %></dd>
            <% end %>

            <% if @user.parent_mobile_number.present? %>
              <dt class="col-sm-3">Parent Mobile Number</dt>
              <dd class="col-sm-9"><%= @user.parent_mobile_number %></dd>
            <% end %>

            <% if @user.address.present? %>
              <dt class="col-sm-3">Address</dt>
              <dd class="col-sm-9"><%= @user.address %></dd>
            <% end %>

            <% if @user.native_address.present? %>
              <dt class="col-sm-3">Native Address</dt>
              <dd class="col-sm-9"><%= @user.native_address %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

