<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="row">
            <% if current_user.has_role_admin %>
              <div class="col-md-12 text-end">
                <% if @user.has_role_newuser && @user.roles.count == 1 %>
                  <%= link_to "Assign Role", assign_admin_role_user_path(@user.id), data: {turbo_method: :post, turbo_confirm: "Are you sure to assign role admin to '#{@user.name}' ?"}, class: "btn btn-sm btn-info", toggle: 'tooltip', placement: 'top', title: 'Assign Role' %>
                <% elsif @user.has_role_newuser && @user.roles.count == 2 %>
                  <%= link_to "Remove Role", remove_admin_role_user_path(@user.id), data: {turbo_method: :post, turbo_confirm: "Are you sure to remove role admin to '#{@user.name}' ?"}, class: "btn btn-sm btn-info", toggle: 'tooltip', placement: 'top', title: 'Remove Role' %>
                <% end %>
                <a tabindex="0" class="btn btn-sm btn-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Project" data-bs-content="
                  <% @user.projects.each do |a| %>
                    <%= a.name + "," %>
                  <% end %>"><i class='bi bi-person-workspace' aria-hidden='true'></i>
                </a>
              </div>
            <% end %>
          </div>
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9"><%= @user.name %></dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9"><%= @user.email %></dd>

            <% if @user.birth_date %>
              <dt class="col-sm-3">Birth Date</dt>
              <dd class="col-sm-9"><%= date_format(@user.birth_date) %></dd>
            <% end %>
          
            <% if @user.joining_date %>
              <dt class="col-sm-3">Joining Date</dt>
              <dd class="col-sm-9"><%= date_format(@user.joining_date) %></dd>
            <% end %>

            <% if !@user.gender.nil? %>
              <dt class="col-sm-3">Gender</dt>
              <dd class="col-sm-9"><%= @user.gender ? 'Male' : 'Female' %></dd>
            <% end %>

            <% if @user.qualification.present? %>
              <dt class="col-sm-3">Qualification</dt>
              <dd class="col-sm-9"><%= @user.qualification %></dd>
            <% end %>
            
            <% if @user.mobile_number.present? %>
              <dt class="col-sm-3">Mobile Number</dt>
              <dd class="col-sm-9"><%= @user.mobile_number %></dd>
            <% end %>

            <% if @user.parent_name %>
              <dt class="col-sm-3">Parent Name</dt>
              <dd class="col-sm-9"><%= @user.parent_name %></dd>
            <% end %>

            <% if @user.parent_mobile_number.present? %>
              <dt class="col-sm-3">Parent Mobile Number</dt>
              <dd class="col-sm-9"><%= @user.parent_mobile_number %></dd>
            <% end %>

            <% if @user.address.present? %>
              <dt class="col-sm-3">Address</dt>
              <dd class="col-sm-9"><%= @user.address %></dd>
            <% end %>

            <% if @user.native_address.present? %>
              <dt class="col-sm-3">Native Address</dt>
              <dd class="col-sm-9"><%= @user.native_address %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @user.has_role_newuser %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card my-5 shadow">
          <div class="card-body">
            <% if @leaves.present? %>
              <h1>Leave</h1>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Leave Type</th>
                    <th class="col-6">Description</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Total Days</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% @leaves.each do |leave| %>
                    <tr>
                      <% if @user.has_role_admin%>
                        <td><%= User.find(leave.user_id).name %></td>
                      <% end %>
                      <td><%= leave.leave_type %></td>
                      <td><%= leave.description %></td>
                      <% if leave.from_date.present? || leave.from_time.present?%>
                        <td>
                          <%= leave.half_day? ? leave.from_date.present? ? date_format(leave.from_date):date_format(Time.now) : date_format(leave.from_date) %>
                        </td>  
                      <% end %>
                      <% if leave.to_date.present?|| leave.to_time.present?%>
                        <td>
                          <%= leave.half_day? ? leave.to_date.present? ? date_format(leave.to_date):date_format(Time.now) : date_format(leave.to_date) %>
                        </td>
                      <% end %>
                      <% if leave.from_date && leave.to_date? || leave.from_time && leave.to_time?%>
                        <td><%= leave.half_day? ? 'Half Day' : leave.total_day %></td>
                      <% end %>
                      <td><%= leave.status %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <h2>There Are No Leave</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card my-5 shadow">
          <div class="card-body">
            <% if @properties.present? %>
              <h1>Assets</h1>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Purchase Date</th>
                    <th>Warranty Month</th>
                    <th>Assets Type</th>
                  </tr>
                </thead>
                <tbody>
                  <% @properties.each do |property| %>
                    <tr>
                      <td><%= property.name %></td>
                      <td><%= property.description %></td>
                      <td><%= property.purchase_date %></td>
                      <td><%= property.warranty_month %></td>
                      <td><%= property.assets_type %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <h2>There Are No Assets</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card my-5 shadow">
          <div class="card-body">
            <% if @user.projects.present? %>
              <%= form_tag user_profile_user_path(@user.id), data: {toggle: 'tooltip', placement: 'top' }, method: :get do %>
                <div class="row mt-4">
                  <div class ="col-2">
                    <div class="input-group date col-3" data-provide="date" >
                      <%= text_field_tag :from_date, params[:from_date], class: "form-control datepicker-input" %>
                      <div class="input-group-append">
                        <div class="input-group-text"><i class="bi bi-calendar3"></i></i></div>
                      </div>
                    </div>
                  </div>
                  <div class ="col-2">
                    <div class="input-group date col-3" data-provide="date" >
                      <%= text_field_tag :to_date, params[:to_date], class: "form-control datepicker-input" %>
                      <div class="input-group-append">
                        <div class="input-group-text"><i class="bi bi-calendar3"></i></i></div>
                      </div>
                    </div>
                  </div><br>
                  <div class="col-1">
                    <%= button_tag class: "btn btn-primary", data: {toggle: 'tooltip', placement: 'top'}, title: 'Find' do %>
                      <i class='bi bi-search' aria-hidden='true'></i>
                    <% end %>
                  </div>
                  <div class="reset">
                    <%= link_to user_profile_user_path(@user.id), class: 'btn btn-secondary', target: "_top", title: 'Clean' do %>
                      <i class='bi bi-x-lg' aria-hidden='true'></i>
                    <% end %>
                  </div>
                </div><br>
              <% end %>
              <h1>Projects</h1>
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th>Spended Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <% @user.projects.each do |project| %>
                    <tr>
                      <td><%= project.name %></td>
                    <td><%= Project.count_hour(project.id, @user.id, params[:from_date], params[:to_date]) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% else %>
              <h2>There Are No Projects</h2>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>