<%= form_with(model: @property) do |form| %>
  <div class="row">
    <div class="field col-6">
      <%= form_group_for form, :name, label: true do %>
        <%= form.text_field :name, class: 'form-control', placeholder: 'Name'%>
      <% end %>
    </div>

    <div class="field col-6">
      <%= form_group_for form, :assets_type, label: true do %>
        <%= form.select :assets_type, options_for_select(Property.assets_types.keys ,selected: form.object.assets_type ) ,{ include_blank: "Select Asset Type"}, {class: "form-control"} %>
      <% end %>
    </div>

    <div class="field col-6">
      <%= form_group_for form, :warranty_month, label: true do %>
        <%= form.text_field :warranty_month, class: 'form-control', placeholder: 'Warranty Month'%>
      <% end %>
    </div>
    
    <div class="field col-6">
      <%= form_group_for form, :purchase_date, label: true do %>
        <%= form.date_field :purchase_date, class: 'form-control', placeholder: 'Purchase Date'%>
      <% end %>
    </div><br>
  </div>

  <div class="col">
    <%= form.label :description %>
    <%= form.rich_text_area :description, class: 'form-control', row: 5%>
  </div><br>

  <div>
    <%= form.button "Save", class: "btn btn-lg btn-primary btn-block form-control col-md-3 mr-1" %>
  </div>
<% end %>