<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <% if current_user.check_role %>
            <div class="col-md-12 text-end">
              <%= link_to new_property_path, target: "_top" ,class: "btn btn-primary"  do%> 
                <i class='bi bi-plus-circle-fill' aria-hidden='true'></i> 
              <% end %>
            </div>
            <%= form_tag properties_path, method: :get do %>
              <div class="row">
                <div class="col-5"> 
                  <%= select_tag :user_id, options_for_select(@users_array, selected: params[:user_id]),{ include_blank: "All User", class: "form-control col-md-3 mr-1"} %>
                </div>
                <div class="col-5">
                  <%= select_tag :assets_type, options_for_select(@asset_types, selected: params[:assets_type]),{ include_blank: "All Asset Type", class: "form-control col-md-3 mr-1" } %>
                </div>
                <div class="col-2">
                  <%= button_tag class: "btn btn-primary", data: {toggle: 'tooltip', placement: 'top', title: 'Find'} do %>
                    <i class='bi bi-search' aria-hidden='true'></i>
                  <% end %>
                </div>
              </div></br>
            <% end %>
          <% end %>
          <h1>Assets</h1>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Purchase Date</th>
                <th>Warranty Month</th>
                <th>Assets Type</th>
                <% if current_user.check_role %>
                  <th>User Name</th>
                  <th>Action</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <div id="projects">
                <% @properties.each do |property| %>
                  <% if current_user.check_role || property.user_id == current_user.id %>
                    <tr>
                      <td><%= property.name %></td>
                      <td><%= property.description %></td>
                      <td><%= property.purchase_date %></td>
                      <td><%= property.warranty_month %></td>
                      <td><%= property.assets_type %></td>
                      <% if current_user.check_role %>
                        <td>  
                          <% if property.user_id.present? %>
                            <%= property.user.name %>
                          <% end %>
                        </td>
                        <td>
                        <%= link_to edit_property_path(property.id), target: "_top", class: "btn btn-success", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                          <i class='bi bi-pencil-fill' aria-hidden='true'></i>
                        <% end %>
                        <%= button_to "<i class=\"bi bi-trash3-fill\"></i>".html_safe, property, class: "btn btn-danger", method: :delete,
                                    data: { confirm: 'Are you sure?' } %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              </div>
            </tbody>
          </table>
          <div class="pagination justify-content-center">
            <%= paginate @properties, theme: 'bootstrap-5', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>