<li class="nav-item">
  <%= link_to 'Home', root_path, class: "nav-link active mr-auto" %>
</li>
<li class="nav-item">
  <%= link_to 'Daily Update', updates_path, class: "nav-link active mr-auto" %>
</li>
<li class="nav-item">
  <%= link_to 'Assets', properties_index_path, class: "nav-link active mr-auto" %>
</li>
<li class="nav-item">
  <%= link_to 'Project', projects_path(current_user.id) , class: "nav-link active mr-auto" %>
</li>
<li class="nav-item">
  <%= link_to 'Chat', groups_path, class: "nav-link active mr-auto" %>
</li>
<li class="nav-item">
  <%= link_to 'Leaves', leave_applications_path, target: "_top", class: "nav-link active mr-auto" %>
</li>
<li class="nav-item">
  <%= link_to 'Count total leave', leave_balances_index_path, target: "_top", class: "nav-link active mr-auto" %>
</li>