<% if current_user.check_role %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card my-5 shadow">
          <div class="card-body">
            <h2>Admin</h2>
              <dl class="row">
              <dt class="col-sm-3">Name:</dt>
              <dd class="col-sm-9"><%= current_user.name %></dd>

              <dt class="col-sm-3">Email:</dt>
              <dd class="col-sm-9"><%= current_user.email %></dd>

              <dt class="col-sm-3">Organization:</dt>
              <dd class="col-sm-9"><%= current_user.organization.name %></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card my-5 shadow">
          <div class="card-body">
            <div class="col-md-12 ">
              <% if @bday.present? %>
                <h2>Employee Birth-Date</h2>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th class="col-6">Name</th>
                      <th>Birth-Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @bday.each do |day| %>
                      <tr>
                        <td><%= day.name %></td>
                        <td><%= date_format(day.birth_date)%></td>
                      </tr>
                    <% end %>    
                  </tbody>
                </table>
              <% else %>
                <h2>There are no birthdays</h2>
              <% end %>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card my-5 shadow">
          <div class="card-body">
            <div class="col-md-12 ">
              <% if @anniversary.present? %>
                <h2>Employee Anniversary-Date</h2>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th class="col-6">Name</th>
                      <th>Joining-Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @anniversary.each do |anniversary| %>
                      <tr>
                        <td><%= anniversary.name %></td>
                        <td><%= date_format(anniversary.joining_date)%></td>
                      </tr>
                    <% end %>    
                  </tbody>
                </table>
              <% else %>
                <h2>There are no anniversaries</h2>
              <% end %>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card my-5 shadow">
          <div class="card-body">
            <div class="col-md-12 ">
              <% if @leave_application.present? %>
                <table class="table">  
                  <h2> Users Leave</h2>
                  <thead class="thead-light">
                    <tr>
                      <th>Name</th>
                      <th>Leave Type</th>
                      <th class="col-6">Description</th>
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Total Days</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @leave_applications.each do |leave| %>
                      <tr>
                        <% if leave.pending? %>
                          <td>
                            <%= User.find(leave.user_id).name %>
                          </td>
                          <td><%= leave.leave_type %></td>
                          <td><%= leave.description %></td>
                          <% if leave.from_date.present? || leave.from_time.present?%>
                            <td><%= leave.half_day? ? leave.from_date.present? ? date_format(leave.from_date):date_format(Time.now) : date_format(leave.from_date) %></td>
                          <% end %>
                          <% if leave.to_date.present?|| leave.to_time.present?%>
                            <td><%= leave.half_day? ? leave.to_date.present? ? date_format(leave.to_date):date_format(Time.now) : date_format(leave.to_date) %></td>
                          <% end %>
                          <% if leave.from_date && leave.to_date? || leave.from_time && leave.to_time?%>
                            <td><%= leave.half_day? ? 'Half Day' : leave.total_day %></td>
                          <% end %>
                          <td>
                            <%= button_to approve_leave_application_path(leave.id), class: "btn btn-success btn-sm", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                              <i class='bi bi-check-lg' aria-hidden='true'></i>
                            <% end %>
                            <%= link_to reject_leave_application_path(leave.id), class: "btn btn-danger btn-sm", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                              <i class='bi bi-x' aria-hidden='true'></i>
                            <% end %>
                          </td>
                        <% end %>
                      </tr>
                    <% end %>    
                  </tbody>
                </table>
                <div class="pagination justify-content-center">
                  <%= paginate @leave_applications, theme: 'bootstrap-5', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>
                </div>
              <% else %>
                <h2>There are no Leaves</h2>
              <% end %>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
