<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="col-md-12 text-end">
            <%= link_to projects_path, class: "btn btn-primary", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
              <i class='bi bi-arrow-left' aria-hidden='true'></i>
            <% end %>
          </div>
          <h1>project</h1>
          <%= form_with model: [project] do |form| %>
            <% if project.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
                <ul>
                  <% project.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col-6">
                <%= form.text_field :name, class: "form-control", placeholder: "Name" %><br>
              </div>
              <div class="col-6">
                <div id="typeaheadmulti">
                 <%= text_field_tag "project[user_ids][]", params[:name], class: "typeahead", type: "text", placeholder: "Search Users" %>
                </div>
              </div>
            </div>
            <div>
              <%= form.button form.object.persisted? ? "Update Project" : "Create Project", type: :submit, class:"btn btn-lg btn-primary btn-block form-control col-md-3 mr-1"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<script src="https://rawgit.com/ahmohamed/typeahead-multiselect/master/typeahead-multiselect.min.js"></script>

<script>
  $(".js-remove").click(function(evt, item){
    alert(item)
  });

  var users = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/api/v1/projects?name=',
      cache: false,
      prepare: function (query, settings) {
        settings.url = this.url + query.replace(/[_\W]+/g, " ")
        return settings;
      },
      filter: function(response) {
        return response.data;
      },
      wildcard: '%SEARCH'
    }
  });

  $('#typeaheadmulti .typeahead').typeaheadmulti(
    {
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'users',
      display: 'name',
      source: users.ttAdapter(),
    }
  );
  $('#typeaheadmulti .typeahead').on('typeahead:selected', function (evt, item)    
    {
      $('.ttmulti-selections li:contains("'+ item.name +'") i').after(
        "</div><input type='hidden' name='project[user_ids][]' id= " + item.id + " value=" + item.id + ">");
    }
  );
</script>