<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="col-md-12 text-end">
            <%= link_to projects_path, class: "btn btn-primary", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
              <i class='bi bi-arrow-left' aria-hidden='true'></i>
            <% end %>
          </div>
          <h1>project</h1>
          <%= form_with model: [project] do |form| %>
            <div class="row">
              <div class="field col-12">
                <% invalid = @project.errors.include?(:name) %>
                <div class="form-group">
                  <%= form.text_field :name, class: "form-control #{'is-invalid' if invalid}", placeholder: "Name" %>
                  <% if invalid %>
                    <div class="invalid-feedback d-block">
                      <% @project.errors.full_messages_for(:name).each do |error_message| %>
                        <%= error_message %>.
                      <% end %>
                    </div>
                  <% end %>
                </div><br>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-12">
                <%= form.select :user_ids, options_for_select(@users_array, selected: params[:user_id]),{ include_blank: false}, id:"choices-multiple-remove-button", class: "form-control", multiple: true, placeholder: "select user" %>
              </div>
            </div><br>  

            <div>
              <%= form.button form.object.persisted? ? "Update Project" : "Create Project", type: :submit, class:"btn btn-lg btn-primary btn-block form-control col-md-3 mr-1"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
  <script src="https://rawgit.com/ahmohamed/typeahead-multiselect/master/typeahead-multiselect.min.js"></script>

  <script>
    $(".js-remove").click(function(evt, item){
      alert(item)
    });

    var users = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: '/api/v1/projects?name=',
        cache: false,
        prepare: function (query, settings) {
          settings.url = this.url + query.replace(/[_\W]+/g, " ")
          return settings;
        },
        filter: function(response) {
          return response.data;
        },
        wildcard: '%SEARCH'
      }
    });

    $('#typeaheadmulti .typeahead').typeaheadmulti(
      {
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'users',
        display: 'name',
        source: users.ttAdapter(),
      }
    );
      var abc = []
    $('#typeaheadmulti .typeahead').on('typeahead:selected', function (evt, item)    
      {
        console.log(abc)
        console.log(!abc.includes(item.id))

        if(!abc.includes(item.id)){
        abc.push(item.id);
        console.log(abc);
        ($('.ttmulti-selections li:contains("'+ item.name +'") i').after(
          "</div><input class='xyz' type='hidden' name='project[user_ids][]' id= " + item.id + " value=" + item.id + ">"));
        console.log(abc);

        }
      }
    );
  </script>