<%= form_with(model: @project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Project_name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control" %><br>
  </div>

  <div>
    <%= form.button "Save", class:"btn btn-lg btn-primary btn-block form-control col-md-3 mr-1"%>
  </div>
<% end %>
