<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="col-md-12 text-end">
            <% if @user.check_role%>
              <%= link_to new_project_path(@user),class: "btn btn-primary"  do%> 
                <i class='bi bi-plus-circle-fill' aria-hidden='true'></i> 
              <% end %>
            <% end %>
          </div> 
          <h1>Project</h1>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <% if @user.check_role%>
                  <th>Employee-Id</th>
                  <th>Start-Date</th>
                  <th>End-Date</th>
                  <th>Action</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @projects.each do |project| %>
                <% if project.organization_id == current_user.organization_id %>
                  <tr>
                    <td>
                      <%= project.name %>
                    </td>
                    <% if @user.check_role%>
                      <% @periods.each do |p| %>
                        <% if project.id == p.project_id %>
                          <td>
                            <%= p.user_id %>
                          </td>
                          <td>
                            <%= p.start_date %>
                          </td>
                          <td>
                            <%= p.end_date %>
                          </td>
                        <% end%>
                      <% end%>  
                      <td>
                        <%= link_to edit_project_path(project.id), class: "btn btn-success", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                          <i class='bi bi-pencil-fill' aria-hidden='true'></i>
                        <% end %> 
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>