<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <h1>Project</h1>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <% if current_user.has_role? :super_admin%>
                  <th>Employee-Id</th>
                  <th>Start-Date</th>
                  <th>End-Date</th>
                  <th>Action</th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% @projects.each do |project| %>
                <tr>
                  <td>
                    <%= project.name %>
                  </td>
                  <% if current_user.has_role? :super_admin%>
                    <% @periods.each do |p| %>
                      <% if project.id == p.project_id %>
                        <td>
                          <%= p.user_id %>
                        </td>
                        <td>
                          <%= p.start_date %>
                        </td>
                        <td>
                          <%= p.end_date %>
                        </td>
                      <% end%>
                    <% end%>  
                    <td>
                      <%= link_to "edit", edit_project_path(project.id), class: "col-md-12 text-right"%> 
                    </td>
                  <% end %>
                </tr>
              <% end %>
              <%= link_to "new", new_project_path(@user)%> 
            </tbody>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                      




