<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <% if current_user.has_role? :newuser%>
            <div class="col-md-12 text-right">
              <%=  link_to updates_new_path, class: "btn btn-primary", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                <i class='bi bi-plus-circle-fill' aria-hidden='true'></i>
              <% end %>
            </div>
          <% end %>
          <h1>Listing All Daily Update</h1>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th class="col-6">Description</th>
                <th>Created Date</th>
                <th>Start Time</th>
                <th>Out Time</th>
                <th>Total Hour</th>
                <th>Project</th>
              </tr>
            </thead>
            <tbody>
              <% @updates.each do |update| %>
                <tr>
                  <td><%= update.description%></td>
                  <td><%= date_format(update.created_at)%></td>
                  <td><%= time_format(update.in_time)%></td>
                  <td><%= time_format(update.out_time)%></td>
                  <td><%= total_time(update.in_time,update.out_time) %></td>
                  <td>  
                    <% if update.project.present? %>
                      <%= update.project.name %>
                    <% end %>
                  </td>
                  <td>
                    <% if date_format(update.created_at) == date_format(Date.today) %>
                      <%= link_to  edit_update_path(update), class: "btn btn-success", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                      <i class='bi bi-pencil-fill' aria-hidden='true'></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <% end %>    
            </tbody>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>