<div id="leave_form">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card my-5 shadow">
          <div class="card-body">
            <div class="col-md-12 text-end">
              <%= link_to leave_applications_path, class: "btn btn-primary", data: {toggle: 'tooltip', placement: 'top', title: 'Back'} do %>
                <i class='bi bi-arrow-left' aria-hidden='true' aria-hidden='true'></i>
              <% end %>
            </div>	
            <h2>Leave</h2>
            <%= form_with(model: @leave_application) do |form| %>
              <div class="row">
                <div class="field col-5">
                  <%= form.label :From_Date%>
                  <div class="input-group date">
                    <%= form.text_field :from_date, data: {
                      controller: "flatpickr",
                      flatpickr_enable_time: true
                    }, class: "form-control datepicker-input" %>
                    <div class="input-group-append">
                      <div class="input-group-text"><i class="bi bi-calendar3"></i></i></div>
                    </div>
                  </div>
                </div>

                <div class="field col-5">
                  <%= form.label :To_Date%>
                    <div class="input-group date" data-provide="date" >
                      <%= form.text_field :to_date, class: "form-control datepicker-input" %>
                      <div class="input-group-append">
                        <div class="input-group-text"><i class="bi bi-calendar3"></i></i></div>
                      </div>
                    </div> 
                </div>    
                <div class="field col-2">
                  <%= form.label :Leave_type%>
                  <%= form.select :leave_type, options_for_select(LeaveApplication.leave_types.keys ,selected: form.object.leave_type ) ,{ include_blank: "Select Leave Type"}, {class: "form-control"} %><br>
                </div>
              </div>
              <div class="field">
                <%= form.label :half_day %>
                <%= form.check_box :half_day, id: "checkbox" %>
              </div>
              <div id="half_day_div" class="<%= @leave_application.half_day ? 'd-block' : 'd-none' %>">
                <div class="row">
                  <div class="col">
                    <%= form.label :from_time %>
                      <div class="input-group date" data-target-input="nearest">
                        <%= form.text_field :from_time, class: "form-control timepicker-input" %>
                        <div class="input-group-append" >
                          <div class="input-group-text"><i class: "i class="bi bi-stopwatch""></i></div>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <%= form.label :to_time %>
                      <div class="input-group date" data-target-input="nearest">
                        <%= form.text_field :to_time, class: "form-control timepicker-input" %>
                          <div class="input-group-append" >
                            <div class="input-group-text"><i class: "i class="bi bi-stopwatch""></i></div>
                          </div>
                      </div>
                  </div>
                </div>
              </div><br/>
              <div class="col">
                <%= form.label :description %>
                  <%= form.rich_text_area :description, class: 'form-control', row: 5%>
              </div><br>
              <div class="col-md-12 text-end">
                <%= form.button "Save", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>