<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
      <div class="card my-5 shadow">
        <div class="card-body">
          <% if @user.check %>
            <div class="col-md-12 text-end">
              <%= link_to new_leave_application_path, target: "_top", class: "btn btn-primary", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                <i class='bi bi-plus-circle-fill' aria-hidden='true'></i>
              <% end %>
            </div>
          <% end %><br>
          <h1>Listing All Leaves</h1>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <% if @user.check_role %>
                  <th>Name</th>
                <% end %>
                <th>Leave Type</th>
                <th class="col-6">Description</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Total Days</th>
                <th>Status</th>
                <th>
                  <% if @leave_applications.pluck(:status).include?("pending") %>
                    Actions
                  <% end %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @leave_applications.each do |leave| %>
                <tr>
                  <% if @user.check_role%> 
                    <td><%= User.find(leave.user_id).name %></td>
                  <% end %>
                  <td><%= leave.leave_type %></td>
                  <td><%= leave.description %></td>
                  <% if leave.from_date.present? || leave.from_time.present?%>
                    <td><%= leave.half_day? ? leave.from_date.present? ? date_format(leave.from_date):date_format(Time.now) : date_format(leave.from_date) %>
                  <% end %>
                  <% if leave.to_date.present?|| leave.to_time.present?%>
                    <td><%= leave.half_day? ? leave.to_date.present? ? date_format(leave.to_date):date_format(Time.now) : date_format(leave.to_date) %>
                  <% end %>
                  <% if leave.from_date && leave.to_date? || leave.from_time && leave.to_time?%>
                    <td><%= leave.half_day? ? 'Half Day' : leave.total_day %></td>
                  <% end %>
                  <td><%= leave.status %></td>
                  <td class="">
                    <% if leave.pending? && @user.check_role %>
                      <%= button_to approve_leave_application_path(leave.id), class: "btn btn-success btn-sm", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                        <i class='bi bi-check-lg' aria-hidden='true'></i>
                      <% end %>
                      <%= link_to reject_leave_application_path(leave.id), class: "btn btn-danger btn-sm", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                        <i class='bi bi-x' aria-hidden='true'></i>
                      <% end %>
                      <% elsif leave.pending? && @user.check %>
                        <%= link_to  edit_leave_application_path(leave), class: "btn btn-success", data: {toggle: 'tooltip', placement: 'top', title: 'Edit Update'} do %>
                        <i class='bi bi-pencil-fill' aria-hidden='true'></i>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>    
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>