<div class="container">
  <div class="row">
    <div class="col">
      <div class="card my-5 shadow">
        <div class="card-body">
          <div class="col-md-12 text-right">
            <h1>Organizations</h1>
            <div class="w-full max-w-2xl bg-gray-100 py-8 px-4 border border-gray-200 rounded shadow-sm">
              <div class="py-2 px-4">
                <%= render "form", organization: @organizations.new %>
              </div>
            </div>
            <table class="table table-hover">
              <thead class="thead-light">
                <th>Name</th>
                <th>Action</th>
              </thead>
              <div class="col-sm-4">
                <% @organizations.each do |organization| %>
                  <tr>
                    <td><li id="<%= "#{dom_id(organization)}_container" %>" class="py-2 px-4 border-b border-gray-300">
                      <%= turbo_frame_tag dom_id(organization) do %>
                        <%= link_to organization.name, edit_organization_path(organization.id), class: 'text-black' %>
                      <% end %>
                    </li></td>   
                    <td>
                      <%= button_to "<i class=\"bi bi-trash3-fill\"></i>".html_safe, organization, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                <% end %>
              </div>
            </table>
            <%= paginate @organizations, theme: 'bootstrap-5',
              pagination_class: "pagination-sm flex-wrap justify-content-center",
            nav_class: "d-inline-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
